# Environnement virtuel
venv/

# Fichiers de configuration
.env

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Autres fichiers à ignorer
*.log
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.zip
*.tar
*.gz
.DS_Store
.ipynb_checkpoints/ 